:root {
  --primary: #bd231b; /* Define a variável de cor "primary" como laranja */
  --secondary: #8d8f8f;
  --white: #fff;
}

* {
  font-family: 'roboto';
}

a {
text-decoration: none;
}

body {
  min-height: 30vh;
  position: relative;
  background-color: #fff;
  overflow-x: hidden;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

.img-logo{
  width: 50%;
  margin: 10px auto
}

footer{
  width: 100%;
  background-color: var(--secondary);
}

footer img{
  width: 10vw;
}

footer .social-links{
  justify-content: center;
   align-items: center;
}

footer .social-links a{

    color: var(--primary);
    font-size: 1.2rem;
    margin: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    padding: 0.2rem;
    z-index: 998;
}

.social-links a:hover{
  background-color: var(--primary);
  color: var(--white);
}

footer ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  justify-content: space-between;
}
footer ul li{
  list-style-type: none;
}

footer ul li a{
  color: #fff;
}


footer ul li a:hover{
  color: var(--primary);
}

footer h5{
  font-size: 1rem;
  font-weight: 500;
}

footer .texto a{
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  transition: 0.5s ease-out;
}

nav .logo img {
  max-width: 5vw;
}

nav .menu {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

nav .menu li {
  position: relative;
  margin: 0 10px;
}

nav .menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--primary) !important;
}

nav .menu a:hover{
  cursor: context-menu;
}

nav .menu ul {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 20px);
  width: 28vw;
  border-radius: 7px;
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 20px;
  box-shadow: 4px 0px 7px rgba(0, 0, 3, 0.2);
  z-index: 9999;
  pointer-events: none;
}

nav .menu ul::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 3, 0.2);
  z-index: 1;
}

nav .menu ul::before {
  content: "";
  position: absolute;
  left: 50%;
  top:0;
  transform: translateX(-50%);
  width: 30px;
  height: 20px;
  background-color: #fff;
  z-index: 999;
}

nav .menu li:hover > ul {
  opacity: 1;
  transform: translate(-50%, 0px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  pointer-events: auto;
}

nav .menu .nav-link2 a::before{
  content: "";
  opacity: 0;
  position: absolute;
  right: -10px; /* ajuste a posição horizontal da seta */
  top: 40%; /* ajuste a posição vertical da seta */
  transform: translate(-100%, 0) rotate(-45deg); /* centralize a seta verticalmente */
  border-top: 10px solid transparent; /* defina a largura da seta */
  border-right: 10px solid var(--primary); /* defina a cor da seta */
}
nav .menu .nav-link2:hover > a::before{
  opacity: 1;
  transform: translate(-70%, 0) rotate(-45deg);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

nav .menu ul li {
  margin: 0;
}

nav .toggle-button {
  display: none;
  flex-direction: center;
  justify-content: space-between;
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
  z-index: 9999;
}

nav .toggle-button span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--primary);
  border-radius: 3px;
  margin: 2px;
}

nav .toggle-button:hover span{
  background-color: var(--secondary);
}

nav .btn-search{
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: var(--primary);
  color: #fff;
  padding: 0.5rem;
}

nav .btn-search:hover{
  background-color: var(--secondary);
  cursor: pointer;
}

.elemento-animado li{
  display: flex;
  justify-items: center;
  align-items: center;
}
.elemento-animado li span{
  position: relative;
}
.elemento-animado li ion-icon{
  margin-right: 10px;
}
.elemento-animado li span::before{
  content: "";
  opacity: 0;
  position: absolute;
  right: -10px; /* ajuste a posição horizontal da seta */
  top: 30%; /* ajuste a posição vertical da seta */
  transform: translate(-50%, 0) rotate(-45deg); /* centralize a seta verticalmente */
  border-top: 10px solid transparent; /* defina a largura da seta */
  border-right: 10px solid var(--primary); /* defina a cor da seta */
}

.elemento-animado li:hover > span::before{
  opacity: 1;
  transform: translate(0, 0) rotate(-45deg);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.elemento-animado li:hover {
  cursor: pointer;
}

nav .elemento-animado a{
  color: #252525 !important;
}

nav .elemento-animado a:hover{
  color: var(--primary) !important;
  transition: 0.5s;
}



nav .elemento-animado button{
  border-radius: 0;
  background-color: transparent;
  color: #252525;
  font-weight: bold;
  border: #ddd;
  text-align: center;
}
nav .elemento-animado button:hover{
  background-color: #e0cb9b;
  opacity: 0.8;
  transition: 0.2s;
}

nav .elemento-animado button.active{
  color: var(--primary);
  background-color: #e0cb9b;
  padding: 10px;
  opacity: 0.8;
  transition: 0.2s;
}

nav .elemento-animado button span{
  margin-left: 5px;
}

nav .elemento-animado .ven li{
  cursor: context-menu !important;
}

  .menu-mobile{
      background-color: #fff;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(100%,0);
      width: 85vw;
      height: 100vh;
      z-index: 9999;
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 3, 0.2);
      display: block;
      overflow: auto;
  }

  .menu-mobile a{
    color: #252525;
    font-weight: 500;
  }

 


  /*main*/
  main {
    width: 100%;
    min-height: 100vh;
  }

  .search-top {
    width: 100%;
    min-height: 90vh;
    background-color: #5e0404;
    background-image: url('../img/head.jpg');
    background-size: cover; /* ajusta o tamanho da imagem */
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply; /* mescla a imagem com a cor de fundo */
    opacity: 0.9;
    position: relative;
    overflow: hidden;
  }

  .search-top img{
    width: 330px;
    position: absolute;
    left: 10%;
    top:10px;
  }

  .f-right{
    float: right;
    width: 65%;
    padding: 5%;
  }

  .f-right h1{
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
  }

  .f-right form{
    margin-top: 50px;
    display: flex;
    position: absolute;
    bottom: 120px;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: transparent;
    border:1px solid #fff;
    border-radius: 25px;
    width: 110vh;
    padding: 10px;
  }

  .f-right input{
    background-color: transparent;
    border: none;
    color: #f9f9f9;
    padding: 10px;
    text-align: center;
  }

  .f-right input:focus, .f-right input:active{
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }

  .f-right #placa{
    width: 35%;
  }

  .f-right input::placeholder{
    color: rgba(255, 255, 255, 0.5);
  }

  .f-right button{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 7px;
    border-radius: 7px;
  }

  .f-right button:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--primary);
    transition: 0.3s;
  }

  #anim-typewriter {
    overflow: hidden;
    white-space: wrap;
  }

  .fade-in-left{
    opacity: 0; /* começa com opacidade 0 */
    animation: slide-in 1s forwards, fade-in 1s forwards; /* animações com duração de 1 segundo, e ambas aplicadas ao mesmo tempo */
  }

  .fade-in-up{
    opacity: 0; /* começa com opacidade 0 */
    animation: slide-in-up 1s forwards, fade-in 1s forwards; /* animações com duração de 1 segundo, e ambas aplicadas ao mesmo tempo */
  }

  @keyframes slide-in {
    from {
      transform: translateX(-100%); /* começa na posição 100% à direita */
    }
    to {
      transform: translateX(0); /* termina na posição original */
    }
  }
  @keyframes slide-in-right {
    from {
      transform: translateX(100%); /* começa na posição 100% à direita */
    }
    to {
      transform: translateX(0); /* termina na posição original */
    }
  }

  @keyframes slide-in-up {
    from {
      transform: translateY(100%); /* começa na posição 100% à direita */
    }
    to {
      transform: translateX(0); /* termina na posição original */
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0; /* começa com opacidade 0 */
    }
    to {
      opacity: 1; /* termina com opacidade 1 */
    }
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 14em;
    }
  }


.menu-mobile{
    background-color: #fff;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(100%,0);
    width: 85vw;
    height: 100vh;
    z-index: 9999;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 3, 0.2);
    display: block;
    overflow: auto;
}

.menu-mobile a{
  color: #252525;
  font-weight: 500;
}


nav .menu-mobile.active{
  transform: translate(0,0);
  opacity: 1;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  transition: -webkit-transform 0.8s ease-out, opacity 0.8s ease-out;
}

.nav-fixed{
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  padding: 0 20px;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.contact-online{
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  z-index: 9999;
  animation: fade-in 2s ease-in-out;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

.contact-online:hover{
  cursor: pointer;
}

.contact-online .banner{
  width: 20vw;
  margin-right: 20px;
  padding: 20px;
  height: 65px;
  border-radius: 5px;
  color: #252525;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: left;
  font-weight: 500;
  position: relative;
  animation: slide-in-right 0.5s ease-in-out;
  animation-delay: 7s;
}

.contact-online .banner span{
  color: var(--primary);
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 5px;
}

.contact-online .banner::before{
  content: '';
  background-color: #fff;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -7px;
  top: 40%;
  transform: translate(0,-50%);
  transform: rotate(45deg);
}

.contact-online .img-contact{
  width: 65px;
  height: 65px;
  border-radius: 50px;
  position: relative;
  background-image: url('/img/logo.png');
  background-color: var(--primary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 120%;
  animation: contact 10s ease-in-out infinite;
  animation-delay: 7s;
}

.contact-online .img-contact::before{
  content: "";
  background-color: #2ecc71;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

@keyframes contact {
  0%{
    transform: scale(0.7);
  }
  2%{
    transform: scale(1.1);
  }
  4%{
    transform: scale(0.9);
  }
  6%{
    transform: scale(1.1);
  }
  8%{
    transform: scale(0.9);
  }
  10%{
    transform: scale(1);
  }
  100%{
    transform: scale(1);
  }
}

#servicos{
  width: 100%;
  padding: 50px 15%;
}

#servicos .linha{
  width: 100%;
  display: flex;
}

#servicos .linha .iten{
  width: 50%;
  margin: 10px;
  min-height: 80px;
  display: flex;
  align-items: center;
  align-content: center;
}

#servicos .linha .iten ion-icon{
  font-size: 3rem;
  background-color: #faebe9;
  padding: 10px;
  border-radius: 50px;
  color: var(--primary);
  margin-right: 20px;
}

#servicos .linha .iten h2{
  font-size: 1.2rem;
  color: var(--primary);
  font-weight: bold;
}

#servicos .linha .iten p{
  font-size: 0.9rem;
  font-weight: 500;
  color: #5e5d5d;
}

#parcelas {
  width: 100%;
  min-height: 100px;
  background-color: var(--secondary);
  padding: 50px 15%;
  display: flex;
  align-items: center;
  align-content: center;
}

#parcelas div{
  padding: 20px;
}

#parcelas .title{
  width: 40%;
}

#parcelas h1 {
  color: var(--primary);
  font-weight: 900;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  animation: fade-in 1s ease-in-out, slide-in 1s ease-in-out;
}

#parcelas p{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#parcelas .txt{
  width: 60%;
}

#parcelas p strong{
  font-size: 4rem;
  color: var(--primary);
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#ipva{
  display: flex;
  position: relative;
  min-height: 300px;
  background-color: #e9e9e9;
  padding: 50px 15%;
}

#ipva .f-left{
  min-height: 300px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  width: 70%;
}

#ipva h2{
  font-size: 3rem;
  font-weight: 900;
  color: var(--primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  text-transform: uppercase;
}

#ipva .imgs{
  display: inline-flex;
  width: auto;
  padding: 20px;
  margin-bottom: 20px;
}
#ipva span{
  background-color: var(--primary);
  color: #fff;
  text-align: center;
  padding: 5px 20px;
  border-radius: 25px;
}


#ipva .f-left div{
  display: block;
}

#ipva img{
  width: 30%;
}

#ipva .img-gile{
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 30%;
  animation: fade-in 1s ease-in-out, slide-in-right 1s ease-in-out;
}

#ipva a{
  text-decoration: none;
  color: var(--primary);
  background-color: none;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid var(--primary);
}

#ipva a:hover{
  background-color: var(--primary);
  color: #fff;
  transition: 0.3s ease-in-out;
}

#quemsomos{
  width: 100%;
  background-color: var(--primary);
  padding: 50px 10%;
  color: #fff;
}

#quemsomos h1{
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 50px;
}

#quemsomos p{
  column-count: 2;
  column-gap: 50px;
  font-size: 1.05rem;
  text-align: justify;
}

#perguntas{
  width: 100%;
  padding: 50px 10%;
}

#perguntas div{
  padding: 10px;
  padding-left: 20px;
}

#perguntas .perg{
  padding-left: 0;
}

#perguntas ul{
  width: 100%;
  padding-left: 30px;
}

#perguntas ul li{
  width: 100%;
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #bbb;
  font-weight: bold;
}

.li-pai::before {
  content: "";
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #000;
  display: inline-block;
  margin-right: 10px;
}

#perguntas .active{
  color: var(--primary);
}

#perguntas .active::before{
  color: var(--primary);
  border-width: 6px 6px 0 6px;
  border-color: var(--primary) transparent transparent transparent;
  transition: 0.3s;
}

#perguntas ul li:hover{
  cursor: pointer;
}

#perguntas ul li ul{
  padding-left: 0;
  border-bottom: none;
  display: none;
}

#perguntas ul li ul li{
  border-bottom: none !important;
  border: none !important;
  font-weight: 300;
  color: #5e5d5d;
}

#perguntas h1{
  font-size: 2rem;
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 50px;
}

#perguntas p{
  font-style: italic;
}

#perguntas a{
  color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--primary) !important;
  font-weight: 600;
}

#perguntas a:hover{
  background-color: var(--primary);
  color: #fff;
  transition: 0.7s;
}

#empresas{
  width: 100%;
  min-height: 300px;
  background-color: #eee;
  border-top: 1px solid #ddd;
  padding: 50px;
  padding: 50px 10%;
}

#empresas a{
  text-decoration: none;
  background-color: var(--primary);
  text-align: center;
  margin: 50px auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  width: 20%;
  color: #fff;
}

#empresas h1{
  text-align: center;
  font-size: 1.9rem;
  font-weight: bold;
  color: var(--primary);
  margin: 50px;
  margin-top: 10px;
}

#empresas .imagens{
  display: flex;
  position: relative;
}

#empresas img{
  position: absolute;
}

#empresas .imagens .frota03{
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  animation: frotacentro 1s ease-in-out, fade-in 1s ease-in-out;
}
.frota01 {
  width: 120px;
  height: 100px;
  left: 30px;
  top: 30px;
  animation: frotaponta 1s ease-in-out, fade-in 1s ease-in-out;
  animation-delay: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.frota05 {
  width: 120px;
  height: 100px;
  right: 30px;
  top: 30px;
  animation: frotaponta 1s ease-in-out, fade-in 1s ease-in-out;
  animation-delay: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.frota02{
  width: 130px;
  height: 120px;
  left: 150px;
  top: 35px;
  animation: frotameio 1s ease-in-out, fade-in 1s ease-in-out;
  animation-delay: 0.3s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.frota04 {
  width: 130px;
  height: 120px;
  right: 150px;
  top: 35px;
  animation: frotameio 1s ease-in-out, fade-in 1s ease-in-out;
  animation-delay: 0.3s;
  opacity: 0;
  animation-fill-mode: forwards;
}


@keyframes frotacentro {
  from{
    top: -20px;
    width: 100px;
  }
  to{
    top: 0px;
    width: 150px;
  }
}
@keyframes frotameio {
  from{
    width: 100px;
    height: 90px;
    bottom: -30px;
  }
  to{
    width: 130px;
    height: 120px;
    bottom: -40px;
  }
}
@keyframes frotaponta {
  from{
    width: 100px;
    height: 80px;
    bottom: -20px;
  }
  to{
    width: 120px;
    height: 100px;
    bottom: -30px;
  }
}
@keyframes frota02 {
  from{
    left: 0;
  }
  to{
    left: 15px;
  }
}
@keyframes frota04 {
  from{
    right: 0;
  }
  to {
    right: 15px;
  }
}

.lista-empresas{
  column-count: 2;
  column-gap: 20px;
  padding: 50px 0px;
}

.lista-empresas ul li{
  list-style: none;
  font-weight: bold;
}
.checkmark {
  margin-right: 5px;
}

#infoempresas{
  background-color: var(--primary);
  color: #fff;
  min-height: 300px;
  padding: 50px 10%;
  position: relative;
}
#infoempresas img{
  width: 25%;
  margin-left: 50px;
  position: absolute;
  bottom: 0;
  left: 0px;
}
#infoempresas h2{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  color: var(--secondary);
  font-weight: 900;
}
#infoempresas h5{
  padding: 0 20%;
  font-weight: 300;
  text-align: center;
}
#info2{
  min-height: 150px;
  padding: 50px 10%;
  background-color: #fff;
}
#info2 h5{
  text-align: center;
  color: var(--primary);
  font-weight: bold;
  padding: 50px;
}
#info2 .texto{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#info3{
  min-height: 150px;
  padding: 50px 10%;
  background-color: #f7cc7e;
}
#info3 .texto{
  display: flex;
  text-align: center;
  padding: 50px;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#info4{
  background-color: #fff;
  min-height: 300px;
  padding: 50px 10%;
  position: relative;
}
#info4 img{
  width: 30%;
  position: absolute;
  bottom: 0;
}
#info4 .texto{
  width: 70%;
  padding: 50px;
}
#servicopage {
  background-color: #fff;
  padding: 50px 10%;
}
#servicopage h1{
  font-size: 2rem;
  color: var(--primary);
  font-weight: bold;
}
#servicopage p{
  padding: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #555;
  margin-top: 30px;
}
#servicopage .img{
  min-height: 200px;
  width: 100%;
  background-image: url('/img/back.webp');
  background-size: cover;
  background-position: center;
}
.msg{
  position: fixed;
  width: 80%;
  min-height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9999;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 4px 0px 7px rgba(0, 0, 3, 0.2);
}

.msg span{
  font-size: 1.2rem;
  position: fixed;
  color: var(--primary);
  font-weight: bold;
  right: 15px;
  top: 10px;
}

.msg span:hover{
  cursor: pointer;
}

.msg p{
  font-size: 1.5rem;
}

.box-message{
  position: fixed;
  bottom: 0;
  right: 0;
  height: 60vh;
  width: 27vw;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 4px 0px 7px rgba(0, 0, 3, 0.2);
  display: none;
}

.box-message .span{
  color: var(--primary);
  font-weight: 600;
  position: absolute;
  right: 15px;
  top: 10px;
}

.box-message .span:hover{
  cursor: pointer;
}

.box-message .head{
  padding: 5px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.box-message .head span{
  margin-left: 10px;
  color: var(--primary);
  font-weight: 500;
}

.box-message .img-contact{
  width: 60px;
  height: 60px;
  border-radius: 50px;
  position: relative;
  background-image: url('/img/img-contact.png');
  background-color: var(--primary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation-delay: 7s;
}

.box-message .img-contact::before{
  content: "";
  background-color: #2ecc71;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.box-message .body{
  padding: 10px;
  padding-bottom: 20px;
  height: 40vh;
  overflow-y: auto;
}

.box-message .body button{
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 5px 15px;
  border-radius: 7px;
  background-color: var(--primary);
  color: #fff;
  text-align: center;
  border: none;
  animation: loop 1s ease-in-out infinite;
}

.box-message .body .enviaragora{
  bottom: 10%;
  background-color: #2ecc71;
}

@keyframes loop {
  0%{
    padding: 6px 16px;
  }
  50%{
    padding: 5px 15px;
  }
  100%{
    padding: 6px 16px;
  }
}

.box-message .body ul li{
  list-style: none;
  display: inline-block;
  position: relative;
  margin: 0 20px;
}

.box-message .body .pergunta{
  float: left;
}

.box-message .body .resposta{
  float: right;
  background-color: #ccc;
  padding: 3px 15px;
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 30px;
}
.box-message .body .pergunta::before{
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('/img/img-contact.png');
  background-color: var(--primary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box-message .body::-webkit-scrollbar {
  width: 2px; /* Largura */
  box-shadow: 4px 0px 7px rgba(0, 0, 3, 0.2);
}

/* Cor de fundo da barra de rolagem */
.box-message .body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Cor da alça da barra de rolagem */
.box-message .body::-webkit-scrollbar-thumb {
  background: #888;
}

/* Ao passar o mouse sobre a barra de rolagem */
.box-message .body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.box-message .footer{
  display: none;
  width: 100%;
  align-items: center;
  border: 1px solid #eee;
  position: absolute;
  bottom: 0;
}

.box-message .footer-ative{
  display: flex;
}

.box-message .footer input{
  padding: 10px;
  background-color: transparent;
  width: 90%;
  border: none;
}

.box-message .footer input:active, .box-message .footer input:focus{
  border: 1px solid #ddd;
  outline: none;
}

.box-message .footer button{
  background-color: transparent;
  padding: 10px;
  border: none;
}





